pipeline/AVS to Staging.json
{
	"name": "AVS to Staging",
	"properties": {
		"activities": [
			{
				"name": "DW Answers get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Answers"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Answers",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Answers get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom audits.audit_answers\nwhere created_at > '@{activity('DW Answers get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Answers get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "hidden",
									"type": "Boolean"
								},
								"sink": {
									"name": "hidden",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "audit_id",
									"type": "Guid"
								},
								"sink": {
									"name": "audit_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "question_template_id",
									"type": "Guid"
								},
								"sink": {
									"name": "question_template_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Answers",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Answer set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Answers",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Auditors get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Auditors"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Auditors",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Auditors get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom users.auditor",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "email_settings",
									"type": "Boolean"
								},
								"sink": {
									"name": "email_settings",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "passport",
									"type": "String"
								},
								"sink": {
									"name": "passport",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "identification",
									"type": "String"
								},
								"sink": {
									"name": "identification",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "country",
									"type": "String"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "honorific",
									"type": "String"
								},
								"sink": {
									"name": "honorific",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "gender",
									"type": "String"
								},
								"sink": {
									"name": "gender",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "date_of_birth",
									"type": "String"
								},
								"sink": {
									"name": "date_of_birth",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "marital_status",
									"type": "String"
								},
								"sink": {
									"name": "marital_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "occupation",
									"type": "String"
								},
								"sink": {
									"name": "occupation",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ni_pps",
									"type": "String"
								},
								"sink": {
									"name": "ni_pps",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_address_1",
									"type": "String"
								},
								"sink": {
									"name": "home_address_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_address_2",
									"type": "String"
								},
								"sink": {
									"name": "home_address_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_city",
									"type": "String"
								},
								"sink": {
									"name": "home_city",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_post_code",
									"type": "String"
								},
								"sink": {
									"name": "home_post_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_county",
									"type": "String"
								},
								"sink": {
									"name": "home_county",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "term_address_1",
									"type": "String"
								},
								"sink": {
									"name": "term_address_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "term_address_2",
									"type": "String"
								},
								"sink": {
									"name": "term_address_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "term_city",
									"type": "String"
								},
								"sink": {
									"name": "term_city",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "term_post_code",
									"type": "String"
								},
								"sink": {
									"name": "term_post_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "term_county",
									"type": "String"
								},
								"sink": {
									"name": "term_county",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "mobile_number",
									"type": "String"
								},
								"sink": {
									"name": "mobile_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "home_number",
									"type": "String"
								},
								"sink": {
									"name": "home_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "notes",
									"type": "String"
								},
								"sink": {
									"name": "notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "hear_about_us",
									"type": "String"
								},
								"sink": {
									"name": "hear_about_us",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "hear_about_us_details",
									"type": "String"
								},
								"sink": {
									"name": "hear_about_us_details",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "recommended_by",
									"type": "String"
								},
								"sink": {
									"name": "recommended_by",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "email_communication",
									"type": "Boolean"
								},
								"sink": {
									"name": "email_communication",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "servelegal_community",
									"type": "Boolean"
								},
								"sink": {
									"name": "servelegal_community",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "card_name",
									"type": "String"
								},
								"sink": {
									"name": "card_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "bank_country",
									"type": "String"
								},
								"sink": {
									"name": "bank_country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "account_number",
									"type": "String"
								},
								"sink": {
									"name": "account_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sort_code",
									"type": "String"
								},
								"sink": {
									"name": "sort_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "swift_code",
									"type": "String"
								},
								"sink": {
									"name": "swift_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "iban_number",
									"type": "String"
								},
								"sink": {
									"name": "iban_number",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "circumstances",
									"type": "String"
								},
								"sink": {
									"name": "circumstances",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "student_loans",
									"type": "String"
								},
								"sink": {
									"name": "student_loans",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "access_to_car",
									"type": "String"
								},
								"sink": {
									"name": "access_to_car",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "why_servelegal",
									"type": "String"
								},
								"sink": {
									"name": "why_servelegal",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "about_yourself",
									"type": "String"
								},
								"sink": {
									"name": "about_yourself",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "travel_outside",
									"type": "String"
								},
								"sink": {
									"name": "travel_outside",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "auditor_status",
									"type": "String"
								},
								"sink": {
									"name": "auditor_status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "user_id",
									"type": "Guid"
								},
								"sink": {
									"name": "user_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Auditors",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Audits get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Audits"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Audits",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Audits get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n jsonb_extract_path_text(survey_result::jsonb, '0', 'result') as survey_result_value,\n 'AVS' as entity_source,\n null as allowance,\n null as briefing_documents\nfrom audits.audit\nwhere created_at > '@{activity('DW Audits get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Audits get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "query_notes",
									"type": "String"
								},
								"sink": {
									"name": "query_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "query_category",
									"type": "String"
								},
								"sink": {
									"name": "query_category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "survey_result_value",
									"type": "String"
								},
								"sink": {
									"name": "survey_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "visit_info",
									"type": "String"
								},
								"sink": {
									"name": "visit_info",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "submitted_date",
									"type": "String"
								},
								"sink": {
									"name": "submitted_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "approval_date",
									"type": "String"
								},
								"sink": {
									"name": "approval_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "deadline_date",
									"type": "String"
								},
								"sink": {
									"name": "deadline_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "date_of_visit",
									"type": "String"
								},
								"sink": {
									"name": "date_of_visit",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "purchase_cost",
									"type": "Single"
								},
								"sink": {
									"name": "purchase_cost",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "allowance",
									"type": "Single"
								},
								"sink": {
									"name": "allowance",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "mileage",
									"type": "Single"
								},
								"sink": {
									"name": "mileage",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "entrance_charge",
									"type": "Single"
								},
								"sink": {
									"name": "entrance_charge",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "travel_expenses",
									"type": "Single"
								},
								"sink": {
									"name": "travel_expenses",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "travel_expenses_type",
									"type": "String"
								},
								"sink": {
									"name": "travel_expenses_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "travel_expenses_description",
									"type": "String"
								},
								"sink": {
									"name": "travel_expenses_description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "reclaimable_expenses",
									"type": "Single"
								},
								"sink": {
									"name": "reclaimable_expenses",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "reclaimable_expenses_type",
									"type": "String"
								},
								"sink": {
									"name": "reclaimable_expenses_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "reclaimable_expenses_description",
									"type": "String"
								},
								"sink": {
									"name": "reclaimable_expenses_description",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "paid",
									"type": "Boolean"
								},
								"sink": {
									"name": "paid",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "batched",
									"type": "Boolean"
								},
								"sink": {
									"name": "batched",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "payroll_date",
									"type": "String"
								},
								"sink": {
									"name": "payroll_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "pay_date",
									"type": "String"
								},
								"sink": {
									"name": "pay_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "email_note",
									"type": "String"
								},
								"sink": {
									"name": "email_note",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "order_id",
									"type": "Guid"
								},
								"sink": {
									"name": "order_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "site_id",
									"type": "Guid"
								},
								"sink": {
									"name": "site_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "approved_by_id",
									"type": "Guid"
								},
								"sink": {
									"name": "approved_by_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "auditor_id",
									"type": "Guid"
								},
								"sink": {
									"name": "auditor_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "item_to_order",
									"type": "String"
								},
								"sink": {
									"name": "item_to_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "auditor_instructions",
									"type": "String"
								},
								"sink": {
									"name": "auditor_instructions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "auditor_pay_per_audit",
									"type": "Single"
								},
								"sink": {
									"name": "auditor_pay_per_audit",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "approving_notes",
									"type": "String"
								},
								"sink": {
									"name": "approving_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Audits",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Audits set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Audits",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Clients get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Clients"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Clients",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Clients get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom clients.client\nwhere created_at > '@{activity('DW Clients get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Clients get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "legacy_id",
									"type": "String"
								},
								"sink": {
									"name": "legacy_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "logo",
									"type": "String"
								},
								"sink": {
									"name": "logo",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "footer",
									"type": "String"
								},
								"sink": {
									"name": "footer",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "client_type",
									"type": "String"
								},
								"sink": {
									"name": "client_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "sage_reference",
									"type": "String"
								},
								"sink": {
									"name": "sage_reference",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "manager_id",
									"type": "Guid"
								},
								"sink": {
									"name": "manager_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "contract_expiry",
									"type": "String"
								},
								"sink": {
									"name": "contract_expiry",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "store_locator",
									"type": "String"
								},
								"sink": {
									"name": "store_locator",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Clients",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Clients set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Clients",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Orders get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Orders"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Orders",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Orders get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom orders.order\nwhere created_at > '@{activity('DW Orders get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Orders get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "schedule_type",
									"type": "String"
								},
								"sink": {
									"name": "schedule_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "item_to_order",
									"type": "String"
								},
								"sink": {
									"name": "item_to_order",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "order_info",
									"type": "String"
								},
								"sink": {
									"name": "order_info",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "visits_to_be_billed",
									"type": "Int32"
								},
								"sink": {
									"name": "visits_to_be_billed",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "start_date",
									"type": "String"
								},
								"sink": {
									"name": "start_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "end_date",
									"type": "String"
								},
								"sink": {
									"name": "end_date",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "auditor_pay_per_audit",
									"type": "Single"
								},
								"sink": {
									"name": "auditor_pay_per_audit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "client_charge_per_audit",
									"type": "Single"
								},
								"sink": {
									"name": "client_charge_per_audit",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "auditor_instructions",
									"type": "String"
								},
								"sink": {
									"name": "auditor_instructions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "email_subject",
									"type": "String"
								},
								"sink": {
									"name": "email_subject",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "email_survey_result",
									"type": "String"
								},
								"sink": {
									"name": "email_survey_result",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "exclude_from_client_reporting",
									"type": "Boolean"
								},
								"sink": {
									"name": "exclude_from_client_reporting",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "narv_visits_only",
									"type": "Boolean"
								},
								"sink": {
									"name": "narv_visits_only",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "currency",
									"type": "String"
								},
								"sink": {
									"name": "currency",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Guid"
								},
								"sink": {
									"name": "client_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "revision_id",
									"type": "Guid"
								},
								"sink": {
									"name": "revision_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Orders",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Orders set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Orders",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Questions get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Questions"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Questions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Questions get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom surveys.revision_questions\nwhere created_at > '@{activity('DW Questions get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Questions get date').output.firstRow.max}'\nlimit 0",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "required",
									"type": "Boolean"
								},
								"sink": {
									"name": "required",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String"
								},
								"sink": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "config",
									"type": "String"
								},
								"sink": {
									"name": "config",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "question_template_id",
									"type": "Guid"
								},
								"sink": {
									"name": "question_template_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "revision_id",
									"type": "Guid"
								},
								"sink": {
									"name": "revision_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Questions",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Questions set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Questions",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW QuestionTemplates get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "QuestionTemplates"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy QuestionTemplates",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW QuestionTemplates get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom questions.question\nwhere created_at > '@{activity('DW QuestionTemplates get date').output.firstRow.max}'\nor modified_at > '@{activity('DW QuestionTemplates get date').output.firstRow.max}'\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "required",
									"type": "Boolean"
								},
								"sink": {
									"name": "required",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "config",
									"type": "String"
								},
								"sink": {
									"name": "config",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "category",
									"type": "String"
								},
								"sink": {
									"name": "category",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_QuestionTemplates",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW QuestionTemplates set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "QuestionTemplates",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Revisions get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Revisions"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Revisions",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Revisions get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom surveys.revision\nwhere created_at > '@{activity('DW Revisions get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Revisions get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "survey_id",
									"type": "Guid"
								},
								"sink": {
									"name": "survey_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "blocked",
									"type": "Boolean"
								},
								"sink": {
									"name": "blocked",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Revisions",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Revisions set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Revisions",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Sites get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Sites"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Sites",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Sites get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n coalesce(\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '0', 'org_level_1'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '1', 'org_level_1'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '2', 'org_level_1'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '3', 'org_level_1')\n ) as org_level1,\n  coalesce(\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '0', 'org_level_2'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '1', 'org_level_2'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '2', 'org_level_2'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '3', 'org_level_2')\n ) as org_level2,\n  coalesce(\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '0', 'org_level_3'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '1', 'org_level_3'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '2', 'org_level_3'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '3', 'org_level_3')\n ) as org_level3,\n  coalesce(\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '0', 'org_level_4'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '1', 'org_level_4'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '2', 'org_level_4'),\n\t jsonb_extract_path_text(organisation_level_code::jsonb, '3', 'org_level_4')\n ) as org_level4,\n 'AVS' as entity_source\nfrom sites.site\nwhere created_at > '@{activity('DW Sites get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Sites get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "legacy_id",
									"type": "String"
								},
								"sink": {
									"name": "legacy_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address_1",
									"type": "String"
								},
								"sink": {
									"name": "address_1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address_2",
									"type": "String"
								},
								"sink": {
									"name": "address_2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "address_3",
									"type": "String"
								},
								"sink": {
									"name": "address_3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "city",
									"type": "String"
								},
								"sink": {
									"name": "city",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "post_code",
									"type": "String"
								},
								"sink": {
									"name": "post_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "county",
									"type": "String"
								},
								"sink": {
									"name": "county",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "country",
									"type": "String"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "directions",
									"type": "String"
								},
								"sink": {
									"name": "directions",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "approving_notes",
									"type": "String"
								},
								"sink": {
									"name": "approving_notes",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "code",
									"type": "String"
								},
								"sink": {
									"name": "code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Guid"
								},
								"sink": {
									"name": "client_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "org_level1",
									"type": "String"
								},
								"sink": {
									"name": "org_level1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "org_level2",
									"type": "String"
								},
								"sink": {
									"name": "org_level2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "org_level3",
									"type": "String"
								},
								"sink": {
									"name": "org_level3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "org_level4",
									"type": "String"
								},
								"sink": {
									"name": "org_level4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Sites",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Sites set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Sites",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Surveys get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Surveys"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Surveys",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Surveys get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom surveys.survey\nwhere created_at > '@{activity('DW Surveys get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Surveys get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Surveys",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Surveys set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Surveys",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DW Users get date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_sync_get_update_date]",
						"storedProcedureParameters": {
							"tableName": {
								"type": "String",
								"value": "Users"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DW",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Users",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DW Users get date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "select\n *,\n 'AVS' as entity_source\nfrom users.user\nwhere created_at > '@{activity('DW Users get date').output.firstRow.max}'\nor modified_at > '@{activity('DW Users get date').output.firstRow.max}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Guid"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "internal_id",
									"type": "String"
								},
								"sink": {
									"name": "internal_id",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "first_name",
									"type": "String"
								},
								"sink": {
									"name": "first_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "middle_name",
									"type": "String"
								},
								"sink": {
									"name": "middle_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "last_name",
									"type": "String"
								},
								"sink": {
									"name": "last_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "image",
									"type": "String"
								},
								"sink": {
									"name": "image",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "notify_user",
									"type": "Boolean"
								},
								"sink": {
									"name": "notify_user",
									"type": "Boolean",
									"physicalType": "bit"
								}
							},
							{
								"source": {
									"name": "role",
									"type": "String"
								},
								"sink": {
									"name": "role",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "last_access",
									"type": "String"
								},
								"sink": {
									"name": "last_access",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "client_id",
									"type": "Guid"
								},
								"sink": {
									"name": "client_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "modified_at",
									"type": "String"
								},
								"sink": {
									"name": "modified_at",
									"type": "DateTimeOffset",
									"physicalType": "datetimeoffset"
								}
							},
							{
								"source": {
									"name": "entity_source",
									"type": "String"
								},
								"sink": {
									"name": "entity_source",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AVS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "staging_Users",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DW Users set date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Decision to continue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_sync_set_update_date]",
					"storedProcedureParameters": {
						"tableName": {
							"value": "Users",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate Staging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_truncate_staging_tables]"
				},
				"linkedServiceName": {
					"referenceName": "SQLDataWarehousePRODAuth",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Decision to continue",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy Answers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Audits",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Clients",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Orders",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Questions",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Revisions",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Sites",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Surveys",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Users",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Auditors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StagingToDWDecision",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2020-09-24T14:31:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}