pipeline/RefreshReports.json
{
	"name": "RefreshReports",
	"properties": {
		"activities": [
			{
				"name": "Get PowerBI Auth",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Admin PW",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Admin User",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/common/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=password&client_id=4187986e-76b7-434c-9c73-3b23d505e1f0&resource=https://analysis.windows.net/powerbi/api&scope=openid&username=@{activity('Get Admin User').output.value}&password=@{activity('Get Admin PW').output.value}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup Reports",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get PowerBI Auth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ClientReports",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Refresh Reports",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Reports",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Reports').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Refresh Report",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://api.powerbi.com/v1.0/myorg/groups/@{item().WorkspaceId}/datasets/@{item().DataSourceId}/refreshes",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('Get PowerBI Auth').output.access_token}",
										"type": "Expression"
									}
								},
								"body": "{ok: 1}"
							}
						}
					]
				}
			},
			{
				"name": "Get Admin PW",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://serve-legal-reports.vault.azure.net/secrets/serve-legal-powerbi-admin-pwd?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Admin User",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://serve-legal-reports.vault.azure.net/secrets/serve-legal-powerbi-admin-user?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}